Repository switchupcb/disgo, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, generator, cache, shard, tools, wrapper, workflow

update go dasgo
  _examples/go.mod
  _examples/go.sum
  _gen/go.mod
  _gen/tools/_copygen/events/setup.go
  _gen/tools/_copygen/requests/setup.go
  _gen/tools/_copygen/sendevents/setup.go
  _gen/tools/_copygen/shard/setup.go
  cache/go.mod
  go.mod
  go.sum
  go.work
  go.work.sum
  shard/go.mod
  shard/go.sum
  wrapper/dasgo.go
  wrapper/endpoints.go
  wrapper/handle.go
  wrapper/json_unmarshal_interface.go
  wrapper/request_send.go
  wrapper/session_command.go
  wrapper/shard_command.go
Labels: examples, generator, cache, shard, wrapper

implement voice channel connection
  wrapper/client_session_manager.go
  wrapper/dasgo.go
  wrapper/errors.go
  wrapper/session.go
  wrapper/session_client_manager.go
  wrapper/socket/socket.go
  wrapper/tests/voice/voice_test.go
  wrapper/voice.go
  wrapper/voice_channel_udp.go
  wrapper/voice_session.go
  wrapper/voice_session_handle.go
  wrapper/voice_session_heartbeat.go
  wrapper/voice_session_listener.go
  wrapper/voice_session_manager.go
Labels: wrapper

update docs
  README.md
  _contribution/CONTRIBUTING.md
  _contribution/concepts/CACHE.md
  _contribution/concepts/EVENTS.md
  _contribution/concepts/LOG.md
  _contribution/concepts/REQUESTS.md
  _contribution/concepts/SENDEVENTS.md
Labels: none

update generators for requests
  _gen/bundle/tools/replaced/guild
  _gen/bundle/tools/replaced/message
  _gen/bundle/tools/replaced/session
  _gen/bundle/tools/replaced/sessionmanager
  _gen/coverage/coverage_endpoint_graph.go
  _gen/coverage/coverage_endpoint_map.go
  _gen/coverage/filter.go
  _gen/coverage/find.go
  _gen/coverage/main.go
  _gen/main.go
  _gen/tools/_copygen/requests/README.md
  _gen/tools/_copygen/requests/coverage_endpoint_map.yml
  _gen/tools/_copygen/requests/ratelimit_algorithm_map.yml
  _gen/tools/_copygen/requests/request_send.yml
  _gen/tools/_copygen/requests/template/generate_coverage_endpoint_map.go
  _gen/tools/_copygen/requests/template/generate_ratelimit_algorithm_map.go
  _gen/tools/_copygen/requests/template/generate_request_send.go
  disgo.go
  wrapper/dasgo.go
  wrapper/ratelimit_algorithm.go
  wrapper/ratelimit_algorithm_map.go
  wrapper/session_handle.go
  wrapper/tests/integration/coverage_test.go
  wrapper/tests/integration/session_test.go
  wrapper/tests/integration/voice_test.go
  wrapper/voice_channel_udp.go
Labels: generator, wrapper

update coverage test request order generator
  _gen/README.md
  _gen/coverage/README.md
  _gen/coverage/coverage_endpoint_graph.go
  _gen/coverage/coverage_test_check.go
  _gen/coverage/find.go
  _gen/coverage/main.go
Labels: generator

update wrapper lint
  .github/workflows/cache.yml
  .github/workflows/examples.yml
  .github/workflows/gen.yml
  .github/workflows/shard.yml
  .github/workflows/tools.yml
  .github/workflows/wrapper.yml
  _contribution/CONTRIBUTING.md
  _examples/.golangci.yml
  _examples/command/README.md
  _examples/image/avatar/README.md
  _examples/voice/.keep
  _examples/voice/README.md
  _gen/coverage/README.md
  wrapper/.golangci.yml
  wrapper/client_session_manager.go
  wrapper/ratelimiter.go
  wrapper/request_form.go
  wrapper/session.go
  wrapper/voice.go
  wrapper/voice_channel_udp.go
  wrapper/voice_session.go
  wrapper/voice_session_handle.go
Labels: examples, generator, wrapper, workflow

update linters
  _examples/.golangci.yml
  _examples/message/components/main.go
  _gen/.golangci.yml
  _gen/bundle/main.go
  _gen/coverage/coverage_test_check.go
  _gen/go.mod
  _gen/go.sum
  _gen/main.go
  _gen/tools/replace.go
  tools/.golangci.yml
Labels: examples, generator, tools

update request test bot timeouts
  wrapper/tests/integration/ratelimit_test.go
Labels: wrapper

refactor voice handlers
  README.md
  _contribution/CONTRIBUTING.md
  _examples/bot/main.go
  disgo.go
  go.mod
  go.sum
  go.work.sum
  wrapper/client.go
  wrapper/session.go
  wrapper/tests/integration/voice_test.go
  wrapper/voice.go
  wrapper/voice_session.go
  wrapper/voice_session_handle.go
  wrapper/voice_session_listener.go
Labels: examples, wrapper

fix #70
  disgo.go
  shard/instance.go
  wrapper/session.go
  wrapper/shard.go
Labels: shard, wrapper

fix test references from contributing
  _contribution/CONTRIBUTING.md
Labels: none

update README v1.10.2
  README.md
Labels: none

fix #75
  disgo.go
  wrapper/.golangci.yml
  wrapper/client.go
  wrapper/dasgo.go
  wrapper/session.go
  wrapper/session_heartbeat.go
  wrapper/session_listener.go
  wrapper/session_manager.go
Labels: wrapper

fix gateway reconnection (#76)
  disgo.go
  wrapper/.golangci.yml
  wrapper/client.go
  wrapper/dasgo.go
  wrapper/session.go
  wrapper/session_heartbeat.go
  wrapper/session_listener.go
  wrapper/session_manager.go
Labels: wrapper

refactor Session
  disgo.go
  wrapper/errors.go
  wrapper/session.go
  wrapper/session_command_write_event.go
  wrapper/session_manager.go
  wrapper/session_routine_coroner.go
  wrapper/session_routine_heartbeat.go
  wrapper/session_routine_listener.go
  wrapper/session_routine_manager.go
  wrapper/session_routine_manager_actions.go
  wrapper/tests/integration/session_test.go
  wrapper/tests/integration/voice_test.go
  wrapper/voice.go
  wrapper/voice_session.go
  wrapper/voice_session_manager.go
Labels: wrapper

update request error with status code
  wrapper/errors.go
  wrapper/request.go
Labels: wrapper

doc: replace "ensure that" with "confirm"
  _examples/command/README.md
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
  _examples/image/avatar/main.go
  _examples/message/components/main.go
  _examples/message/send/main.go
  wrapper/session_routine_heartbeat.go
  wrapper/session_routine_listener.go
  wrapper/session_routine_manager_actions.go
  wrapper/tests/integration/ratelimit_test.go
  wrapper/tests/integration/session_test.go
  wrapper/voice_session.go
  wrapper/voice_session_heartbeat.go
Labels: examples, wrapper

voice file refactor
  wrapper/session_routine_manager.go
  wrapper/voice_session.go
  wrapper/voice_session_command_write_event.go
  wrapper/voice_session_routine_heartbeat.go
  wrapper/voice_session_routine_listener.go
  wrapper/voice_session_routine_manager.go
Labels: wrapper

update bundle
  disgo.go
Labels: none

refactor Session (#78)
  _examples/command/README.md
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
  _examples/image/avatar/main.go
  _examples/message/components/main.go
  _examples/message/send/main.go
  disgo.go
  wrapper/errors.go
  wrapper/request.go
  wrapper/session.go
  wrapper/session_command_write_event.go
  wrapper/session_manager.go
  wrapper/session_routine_coroner.go
  wrapper/session_routine_heartbeat.go
  wrapper/session_routine_listener.go
  wrapper/session_routine_manager.go
  wrapper/session_routine_manager_actions.go
  wrapper/tests/integration/ratelimit_test.go
  wrapper/tests/integration/session_test.go
  wrapper/tests/integration/voice_test.go
  wrapper/voice.go
  wrapper/voice_session.go
  wrapper/voice_session_command_write_event.go
  wrapper/voice_session_routine_heartbeat.go
  wrapper/voice_session_routine_listener.go
  wrapper/voice_session_routine_manager.go
Labels: examples, wrapper

refactor Session
  disgo.go
  shard/instance.go
  shard/tests/integration/shard_test.go
  wrapper/pool.go
  wrapper/session.go
  wrapper/session_routine_coroner.go
  wrapper/session_routine_listener.go
  wrapper/session_routine_manager.go
  wrapper/session_routine_manager_actions.go
  wrapper/shard.go
  wrapper/tests/integration/session_test.go
  wrapper/voice.go
Labels: shard, wrapper

refactor Session (#80)
  disgo.go
  shard/instance.go
  shard/tests/integration/shard_test.go
  wrapper/pool.go
  wrapper/session.go
  wrapper/session_routine_coroner.go
  wrapper/session_routine_listener.go
  wrapper/session_routine_manager.go
  wrapper/session_routine_manager_actions.go
  wrapper/shard.go
  wrapper/tests/integration/session_test.go
  wrapper/voice.go
Labels: shard, wrapper

add tool ReconnectOnUnexpectedDisconnection
  disgo.go
  tools/session.go
  wrapper/session_routine_manager.go
Labels: tools, wrapper

update README v1.10.21
  README.md
  _contribution/CONTRIBUTING.md
  wrapper/session_routine_manager.go
Labels: wrapper

Update README.md
  README.md
Labels: none

update xstruct
  _gen/tools/xstruct.exe
Labels: generator

fix status code error fmt
  wrapper/errors.go
Labels: wrapper

Update tools.go
  tools/tools.go
Labels: tools

.github/labeler.yml:

examples:
- _examples/**/*

generator:
- _gen/**/*

cache:
- cache/**/*

shard:
- shard/**/*

tools:
- tools/**/*

wrapper:
- wrapper/**/*

workflow:
- .github/**/*
