Repository switchupcb/disgo, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, generator, cache, shard, tools, wrapper, workflow

.github/labeler.yml:

examples:
- _examples/**/*

generator:
- _gen/**/*

cache:
- cache/**/*

shard:
- shard/**/*

tools:
- tools/**/*

wrapper:
- wrapper/**/*

workflow:
- .github/**/*

add route hash functionality
  wrapper/client.go
  wrapper/copygen/requests/README.md
  wrapper/copygen/requests/template/generate.go
  wrapper/oauth2.go
  wrapper/ratelimit.go
  wrapper/ratelimit_algorithm.go
  wrapper/ratelimiter.go
  wrapper/request.go
  wrapper/request_send.go
  wrapper/session.go
  wrapper/tests/integration/ratelimit_test.go
Labels: wrapper

fix cicd target for wrapper
  .github/workflows/wrapper.yml
Labels: workflow

fill hashing function map
  wrapper/ratelimit_algorithm.go
Labels: wrapper

test per-resource rate limits
  .gitignore
  wrapper/.golangci.yml
  wrapper/copygen/requests/template/generate.go
  wrapper/ratelimit.go
  wrapper/ratelimit_algorithm.go
  wrapper/ratelimiter.go
  wrapper/request.go
  wrapper/request_send.go
  wrapper/session.go
Labels: wrapper

update rate limit explanation
  README.md
  _contribution/concepts/REQUESTS.md
Labels: none

add retry shared 429 functionality
  _contribution/concepts/REQUESTS.md
  wrapper/client.go
  wrapper/request.go
Labels: wrapper

fix binary message payload decoding
  wrapper/internal/socket/socket.go
Labels: wrapper

add per-resource rate limits (#34)
  .github/workflows/wrapper.yml
  .gitignore
  README.md
  _contribution/concepts/REQUESTS.md
  wrapper/.golangci.yml
  wrapper/client.go
  wrapper/copygen/requests/README.md
  wrapper/copygen/requests/template/generate.go
  wrapper/internal/socket/socket.go
  wrapper/oauth2.go
  wrapper/ratelimit.go
  wrapper/ratelimit_algorithm.go
  wrapper/ratelimiter.go
  wrapper/request.go
  wrapper/request_send.go
  wrapper/session.go
  wrapper/tests/integration/ratelimit_test.go
Labels: wrapper, workflow

add zerolog logger
  _examples/go.mod
  _examples/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
  tools/go.mod
  tools/go.sum
  wrapper/log.go
Labels: examples, tools, wrapper

add log documentation
  _contribution/concepts/LOG.md
  _contribution/concepts/REQUESTS.md
Labels: none

replace logs with zerologger
  wrapper/copygen/events/template/generate.go
  wrapper/errors.go
  wrapper/handle.go
  wrapper/log.go
  wrapper/ratelimit.go
  wrapper/ratelimiter.go
  wrapper/request.go
  wrapper/session.go
  wrapper/session_heartbeat.go
  wrapper/session_listener.go
  wrapper/session_manager.go
Labels: wrapper

add structured logging (#36)
  _contribution/concepts/LOG.md
  _contribution/concepts/REQUESTS.md
  _examples/go.mod
  _examples/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
  tools/go.mod
  tools/go.sum
  wrapper/copygen/events/template/generate.go
  wrapper/errors.go
  wrapper/handle.go
  wrapper/log.go
  wrapper/ratelimit.go
  wrapper/ratelimiter.go
  wrapper/request.go
  wrapper/session.go
  wrapper/session_heartbeat.go
  wrapper/session_listener.go
  wrapper/session_manager.go
Labels: examples, tools, wrapper

update dasgo
  README.md
  wrapper/dasgo.go
Labels: wrapper

add file upload support
  _gen/gen.exe
  _gen/tools/clean.go
  wrapper/copygen/requests/template/generate.go
  wrapper/dasgo.go
  wrapper/errors.go
  wrapper/request_form.go
  wrapper/request_send.go
Labels: generator, wrapper

add create message example
  _examples/image/.keep
  _examples/image/avatar/README.md
  _examples/image/avatar/main.go
  _examples/message/component/.keep
  _examples/message/send/README.md
  _examples/message/send/main.go
  wrapper/copygen/requests/template/generate.go
  wrapper/dasgo.go
  wrapper/request_form.go
  wrapper/request_send.go
Labels: examples, wrapper

add file upload support (#37)
  _examples/image/.keep
  _examples/image/avatar/README.md
  _examples/image/avatar/main.go
  _examples/message/component/.keep
  _examples/message/send/README.md
  _examples/message/send/main.go
  _gen/gen.exe
  _gen/tools/clean.go
  wrapper/copygen/requests/template/generate.go
  wrapper/dasgo.go
  wrapper/errors.go
  wrapper/request_form.go
  wrapper/request_send.go
Labels: examples, generator, wrapper

refactor error handling and logging
  _contribution/concepts/LOG.md
  go.mod
  go.sum
  wrapper/copygen/events/template/generate.go
  wrapper/copygen/requests/template/generate.go
  wrapper/errors.go
  wrapper/handle.go
  wrapper/log.go
  wrapper/oauth2.go
  wrapper/request.go
  wrapper/request_send.go
  wrapper/session.go
  wrapper/session_heartbeat.go
  wrapper/session_listener.go
  wrapper/session_manager.go
  wrapper/tests/integration/ratelimit_test.go
  wrapper/tests/integration/session_test.go
Labels: wrapper

add main slash command example
  README.md
  _examples/bot/permission/.keep
  _examples/command/README.md
  _examples/command/main.go
  _examples/go.sum
  _examples/guild/channel/stage/.keep
  _examples/guild/channel/thread/.keep
  _examples/message/emoji/.keep
  _examples/message/send/file.go
  _examples/message/send/main.go
  _examples/message/webhook/.keep
  _gen/README.md
  _gen/gen.exe
  _gen/go.mod
  _gen/go.sum
  _gen/main.go
  _gen/tools/replace.go
  _gen/tools/snowflake.go
  wrapper/.golangci.yml
  wrapper/client.go
  wrapper/copygen/requests/template/generate.go
  wrapper/dasgo.go
  wrapper/errors.go
  wrapper/log.go
  wrapper/ratelimit_algorithm.go
  wrapper/request.go
  wrapper/request_send.go
  wrapper/session.go
  wrapper/unmarshal.go
Labels: examples, generator, wrapper

add subcommand example
  .gitignore
  _examples/command/README.md
  _examples/command/main.go
  _examples/command/response/.keep
  _examples/command/subcommand/README.md
  _examples/command/subcommand/main.go
  _examples/message/send/main.go
  _gen/gen.exe
  _gen/tools/replace.go
  go.work
  tools/go.mod
  tools/go.sum
  tools/interaction.go
  tools/tools.go
  wrapper/dasgo.go
  wrapper/request_form.go
  wrapper/unmarshal_convert.go
Labels: examples, generator, tools, wrapper

add tools InterceptSignal
  _examples/command/main.go
  _examples/command/subcommand/main.go
  tools/.golangci.yml
  tools/files.go
  tools/tools.go
  wrapper/copygen/events/template/generate.go
  wrapper/handle.go
  wrapper/log.go
  wrapper/ratelimit.go
  wrapper/request.go
  wrapper/session.go
  wrapper/session_heartbeat.go
  wrapper/session_listener.go
  wrapper/session_manager.go
Labels: examples, tools, wrapper

add localization example
  README.md
  _examples/command/README.md
  _examples/command/localization/.keep
  _examples/command/localization/README.md
  _examples/command/localization/main.go
Labels: examples

fix unmarshal components
  README.md
  _examples/guild/.keep
  _examples/guild/channel/.keep
  _examples/guild/event/.keep
  _examples/message/emoji/.keep
  _examples/message/send/README.md
  _examples/message/send/main.go
  wrapper/unmarshal.go
Labels: examples, wrapper

add autocomplete example
  README.md
  _contribution/CONTRIBUTING.md
  _examples/command/README.md
  _examples/command/autocomplete/.keep
  _examples/command/autocomplete/README.md
  _examples/command/autocomplete/main.go
  _examples/command/localization/README.md
  _examples/command/localization/main.go
  _examples/command/subcommand/main.go
  _gen/README.md
  _gen/gen.exe
  _gen/tools/replace.go
  wrapper/dasgo.go
  wrapper/unmarshal.go
  wrapper/unmarshal_convert.go
Labels: examples, generator, wrapper

add responses example
  _examples/command/README.md
  _examples/command/followup/README.md
  _examples/command/followup/main.go
  _examples/command/main.go
  _examples/command/response/.keep
  _examples/command/subcommand/main.go
  tools/tools.go
  wrapper/dasgo.go
  wrapper/unmarshal.go
Labels: examples, tools, wrapper

add endpoint dependency map
  _gen/coverage/main.go
Labels: generator

add coverage outline
  _gen/coverage/README.md
  _gen/coverage/main.go
Labels: generator

add topological sort
  _gen/coverage/main.go
Labels: generator

add coverage test base
  _contribution/CONTRIBUTING.md
  _gen/coverage/README.md
  _gen/coverage/main.go
  wrapper/tests/integration/coverage_test.go
Labels: generator, wrapper

untrack gen.exe
  .gitignore
Labels: none

update unused endpoints
  _contribution/CONTRIBUTING.md
  _gen/coverage/main.go
Labels: generator

add missing endpoints
  wrapper/copygen/requests/setup.go
  wrapper/ratelimit_algorithm.go
  wrapper/request_send.go
Labels: wrapper

fix missing endpoints
  wrapper/copygen/requests/setup.go
  wrapper/dasgo.go
  wrapper/request_send.go
Labels: wrapper

add zero dependency endpoints
  _gen/coverage/README.md
  _gen/coverage/main.go
  wrapper/tests/integration/coverage_test.go
  wrapper/tests/integration/ratelimit_test.go
Labels: generator, wrapper

add coverage integration test base (#33)
  .gitignore
  _contribution/CONTRIBUTING.md
  _gen/coverage/README.md
  _gen/coverage/main.go
  wrapper/copygen/requests/setup.go
  wrapper/dasgo.go
  wrapper/ratelimit_algorithm.go
  wrapper/request_send.go
  wrapper/tests/integration/coverage_test.go
  wrapper/tests/integration/ratelimit_test.go
Labels: generator, wrapper

fix basic coverage test
  .github/workflows/wrapper.yml
  wrapper/tests/integration/coverage_test.go
Labels: wrapper, workflow

update README for v0.10.1
  README.md
  _contribution/CONTRIBUTING.md
Labels: none

simplify command examples
  README.md
  _examples/command/README.md
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/README.md
  _examples/command/subcommand/main.go
  tools/tools.go
Labels: examples, tools

clarify go compilation in README
  README.md
Labels: none

cover guild requests
  _gen/coverage/main.go
  wrapper/client.go
  wrapper/copygen/requests/setup.go
  wrapper/dasgo.go
  wrapper/request_send.go
  wrapper/tests/integration/coverage_test.go
Labels: generator, wrapper

cover application commands
  _gen/coverage/main.go
  _gen/tools/clean.go
  wrapper/dasgo.go
  wrapper/tests/integration/coverage_test.go
Labels: generator, wrapper
