Repository switchupcb/disgo, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, generator, cache, shard, tools, wrapper, workflow

update route rate limit test request
  _gen/coverage/main.go
  wrapper/copygen/requests/setup.go
  wrapper/dasgo.go
  wrapper/request_send.go
  wrapper/tests/integration/coverage_test.go
Labels: generator, wrapper

add channel and message requests
  _gen/coverage/README.md
  _gen/coverage/main.go
  wrapper/copygen/requests/setup.go
  wrapper/dasgo.go
  wrapper/request_send.go
  wrapper/tests/integration/coverage_test.go
Labels: generator, wrapper

update dasgo flags
  wrapper/dasgo.go
  wrapper/tests/integration/coverage_test.go
  wrapper/unmarshal.go
Labels: wrapper

fix golangci lint
  wrapper/.golangci.yml
Labels: wrapper

update dasgo
  README.md
  _gen/main.go
  _gen/tools/clean.go
  _gen/tools/replace.go
  wrapper/copygen/commands/setup.go
  wrapper/copygen/commands/template/generate.go
  wrapper/dasgo.go
  wrapper/session.go
  wrapper/session_command.go
  wrapper/session_heartbeat.go
  wrapper/tests/integration/coverage_test.go
  wrapper/unmarshal.go
Labels: generator, wrapper

update examples
  README.md
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
  _examples/image/avatar/main.go
  _examples/message/send/main.go
Labels: examples

add request body log
  wrapper/log.go
  wrapper/request.go
Labels: wrapper

review unused endpoints
  _gen/coverage/main.go
  wrapper/dasgo.go
  wrapper/endpoints.go
Labels: generator, wrapper

update workflow env
  .github/workflows/wrapper.yml
Labels: workflow

add level one coverage tests (#42)
  .github/workflows/wrapper.yml
  README.md
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
  _examples/image/avatar/main.go
  _examples/message/send/main.go
  _gen/coverage/README.md
  _gen/coverage/main.go
  _gen/main.go
  _gen/tools/clean.go
  _gen/tools/replace.go
  wrapper/.golangci.yml
  wrapper/client.go
  wrapper/copygen/commands/setup.go
  wrapper/copygen/commands/template/generate.go
  wrapper/copygen/requests/setup.go
  wrapper/dasgo.go
  wrapper/endpoints.go
  wrapper/log.go
  wrapper/request.go
  wrapper/request_send.go
  wrapper/session.go
  wrapper/session_command.go
  wrapper/session_heartbeat.go
  wrapper/tests/integration/coverage_test.go
  wrapper/unmarshal.go
Labels: examples, generator, wrapper, workflow

add automoderationrule tests
  wrapper/tests/integration/coverage_test.go
Labels: wrapper

add event handle error check
  _contribution/concepts/EVENTS.md
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
  wrapper/client.go
  wrapper/copygen/events/template/generate.go
  wrapper/dasgo.go
  wrapper/handle.go
  wrapper/tests/integration/coverage_test.go
Labels: examples, wrapper

add custom marshal functions
  wrapper/dasgo.go
  wrapper/json_marshal.go
  wrapper/json_unmarshal.go
  wrapper/json_unmarshal_convert.go
Labels: wrapper

implement full coverage test (#44)
  _contribution/concepts/EVENTS.md
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
  wrapper/client.go
  wrapper/copygen/events/template/generate.go
  wrapper/dasgo.go
  wrapper/handle.go
  wrapper/json_marshal.go
  wrapper/json_unmarshal.go
  wrapper/json_unmarshal_convert.go
  wrapper/tests/integration/coverage_test.go
Labels: examples, wrapper

update example outline
  README.md
  _examples/bot/cache/.keep
  _examples/bot/client/.keep
  _examples/bot/shard/.keep
  _examples/channel/dm/.keep
  _examples/channel/stage/.keep
  _examples/channel/thread/.keep
  _examples/permission/calculate/.keep
  _examples/permission/channel/.keep
  _examples/permission/role/.keep
  _examples/permission/user/.keep
Labels: examples

add selective event handling
  README.md
  _contribution/concepts/EVENTS.md
  wrapper/copygen/events/template/generate.go
  wrapper/handle.go
Labels: wrapper

update contributing
  README.md
  _contribution/CONTRIBUTING.md
  _contribution/concepts/CACHE.md
  _contribution/libraries/LOGGING.md
  _contribution/libraries/URL.md
  shard/README.md
Labels: shard

add bundle
  _gen/README.md
  _gen/bundle/main.go
  disgo.go
  go.work.sum
  wrapper/session.go
  wrapper/session_listener.go
  wrapper/socket/bpool.go
  wrapper/socket/socket.go
Labels: generator, wrapper

update imports
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
  _examples/image/avatar/main.go
  _examples/message/send/file.go
  _examples/message/send/main.go
  tools/interaction.go
  tools/tools.go
  wrapper/copygen/commands/setup.go
  wrapper/copygen/events/setup.go
  wrapper/copygen/requests/setup.go
  wrapper/tests/integration/coverage_test.go
  wrapper/tests/integration/ratelimit_test.go
  wrapper/tests/integration/session_test.go
  wrapper/tests/unit/handle_test.go
  wrapper/tests/unit/oauth2_test.go
Labels: examples, tools, wrapper

update workspace
  README.md
  _examples/go.mod
  _examples/go.sum
  go.mod
  go.sum
Labels: examples

add fieldalignment
  README.md
  _gen/bundle/main.go
  disgo.go
Labels: generator

update generator documentation
  _contribution/CONTRIBUTING.md
  _gen/README.md
Labels: generator

fixes
  _gen/bundle/main.go
  _gen/bundle/tools/imports.go
  _gen/bundle/tools/replace.go
  _gen/bundle/tools/replaced.go
  _gen/main.go
  _gen/tools/copygen/events/README.md
  _gen/tools/copygen/events/setup.go
  _gen/tools/copygen/events/setup.yml
  _gen/tools/copygen/events/template/generate.go
  _gen/tools/copygen/requests/README.md
  _gen/tools/copygen/requests/setup.go
  _gen/tools/copygen/requests/setup.yml
  _gen/tools/copygen/requests/template/generate.go
  _gen/tools/copygen/sendevents/setup.go
  _gen/tools/copygen/sendevents/setup.yml
  _gen/tools/copygen/sendevents/template/generate.go
  disgo.go
  wrapper/client.go
  wrapper/errors.go
  wrapper/oauth2.go
  wrapper/ratelimit.go
  wrapper/ratelimiter.go
  wrapper/session.go
  wrapper/session_manager.go
  wrapper/tests/unit/oauth2_test.go
Labels: generator, wrapper

fix fieldalignment
  _gen/bundle/main.go
  disgo.go
  wrapper/json_unmarshal.go
Labels: generator, wrapper

fix bundle replace function
  _gen/bundle/main.go
  _gen/bundle/tools/imports.go
  _gen/bundle/tools/replace.go
  _gen/bundle/tools/replaced.go
  _gen/bundle/tools/replaced/gateway
  _gen/bundle/tools/replaced/session
  _gen/main.go
  _gen/tools/clean.go
  _gen/tools/replace.go
  disgo.go
Labels: generator

add removed fieldaligned comments
  _gen/bundle/tools/replaced.go
  _gen/bundle/tools/replaced/gateway
  _gen/bundle/tools/replaced/getguildauditlog
  _gen/bundle/tools/replaced/getguildwidgetimage
  _gen/bundle/tools/replaced/guild
  _gen/bundle/tools/replaced/message
  _gen/bundle/tools/replaced/session
  disgo.go
Labels: generator

fix potential data race
  disgo.go
  wrapper/session.go
  wrapper/session_heartbeat.go
Labels: wrapper

add bot example
  README.md
  _contribution/CONTRIBUTING.md
  _examples/bot/README.md
  _examples/bot/main.go
  _examples/go.mod
  _examples/go.sum
  _examples/guild/auditlog/.keep
  _examples/guild/community/.keep
  _examples/guild/config/.keep
  _examples/guild/moderation/.keep
Labels: examples

add shard manager interface
  README.md
  _contribution/concepts/SHARD.md
  _examples/bot/main.go
  _examples/command/README.md
  _examples/command/autocomplete/README.md
  _examples/command/autocomplete/main.go
  _examples/command/followup/README.md
  _examples/command/followup/main.go
  _examples/command/localization/README.md
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/README.md
  _examples/command/subcommand/main.go
  _gen/bundle/tools/replaced/gateway
  cache/README.md
  cache/cache.go
  disgo.go
  shard/README.md
  shard/shard.go
  wrapper/client.go
  wrapper/dasgo.go
  wrapper/session.go
  wrapper/shard.go
  wrapper/tests/integration/coverage_test.go
  wrapper/tests/integration/session_test.go
Labels: examples, generator, cache, shard, wrapper

add fieldalignment comment guide
  _gen/README.md
Labels: generator

add Session Wait function
  disgo.go
  wrapper/session_manager.go
Labels: wrapper

update README
  README.md
  _contribution/CONTRIBUTING.md
  _gen/coverage/README.md
Labels: generator

update version
  README.md
Labels: none

use GetGatewayBot in session
  disgo.go
  wrapper/json_unmarshal.go
  wrapper/session.go
  wrapper/shard.go
Labels: wrapper

add comments to ShardLimit
  disgo.go
  wrapper/shard.go
Labels: wrapper

update dasgo
  _gen/bundle/tools/replaced/getguildauditlog
  _gen/coverage/main.go
  _gen/tools/copygen/requests/README.md
  _gen/tools/copygen/requests/setup.go
  disgo.go
  wrapper/dasgo.go
  wrapper/endpoints.go
  wrapper/log.go
  wrapper/ratelimit_algorithm.go
  wrapper/request.go
  wrapper/request_send.go
  wrapper/tests/integration/coverage_test.go
Labels: generator, wrapper

update dasgo
  _gen/bundle/tools/replaced/message
  _gen/tools/copygen/events/setup.go
  disgo.go
  wrapper/dasgo.go
  wrapper/handle.go
  wrapper/request_send.go
Labels: generator, wrapper

fix flags marshal
  disgo.go
  wrapper/dasgo.go
  wrapper/json_marshal.go
  wrapper/tests/integration/coverage_test.go
Labels: wrapper

update dasgo
  disgo.go
  wrapper/dasgo.go
  wrapper/request_send.go
Labels: wrapper

Add GuildID to GuildMemberUpdate.
  disgo.go
Labels: none

.github/labeler.yml:

examples:
- _examples/**/*

generator:
- _gen/**/*

cache:
- cache/**/*

shard:
- shard/**/*

tools:
- tools/**/*

wrapper:
- wrapper/**/*

workflow:
- .github/**/*
