Repository switchupcb/disgo, changes with the labels that .github/labeler.yml gives for each.
All labels: examples, generator, cache, shard, tools, wrapper, workflow

.github/labeler.yml:

examples:
- _examples/**/*

generator:
- _gen/**/*

cache:
- cache/**/*

shard:
- shard/**/*

tools:
- tools/**/*

wrapper:
- wrapper/**/*

workflow:
- .github/**/*

fix Value unmarshal
  wrapper/json_unmarshal.go
  wrapper/json_unmarshal_convert.go
Labels: wrapper

update dasgo
  wrapper/dasgo.go
  wrapper/endpoints.go
Labels: wrapper

update linter
  .github/workflows/cache.yml
  .github/workflows/gen.yml
  .github/workflows/shard.yml
  .github/workflows/tools.yml
  .github/workflows/wrapper.yml
  _contribution/CONTRIBUTING.md
  wrapper/.golangci.yml
  wrapper/dasgo.go
  wrapper/json_marshal.go
  wrapper/ratelimit_algorithm.go
  wrapper/session.go
  wrapper/session_manager.go
Labels: wrapper, workflow

lint generator and tests
  .github/workflows/gen.yml
  .github/workflows/wrapper.yml
  _contribution/CONTRIBUTING.md
  _gen/.golangci.yml
  wrapper/.golangci.yml
  wrapper/socket/bpool.go
  wrapper/socket/socket.go
Labels: generator, wrapper, workflow

update bundle
  _gen/bundle/tools/replaced/guild
  _gen/bundle/tools/replaced/message
  _gen/bundle/tools/replaced/session
  disgo.go
Labels: generator

update test
  _gen/coverage/main.go
  _gen/tools/copygen/requests/setup.go
  disgo.go
  wrapper/json_unmarshal_convert.go
  wrapper/request_send.go
  wrapper/tests/integration/coverage_test.go
Labels: generator, wrapper

add Bitflag String conversion
  disgo.go
  wrapper/dasgo.go
  wrapper/json_convert.go
  wrapper/json_unmarshal_convert.go
Labels: wrapper

update example NewSession documentation
  README.md
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
Labels: examples

add timeout and retry documentation
  _contribution/concepts/REQUESTS.md
Labels: none

update dasgo (#58)
  .github/workflows/cache.yml
  .github/workflows/gen.yml
  .github/workflows/shard.yml
  .github/workflows/tools.yml
  .github/workflows/wrapper.yml
  README.md
  _contribution/CONTRIBUTING.md
  _contribution/concepts/REQUESTS.md
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
  _gen/.golangci.yml
  _gen/bundle/tools/replaced/guild
  _gen/bundle/tools/replaced/message
  _gen/bundle/tools/replaced/session
  _gen/coverage/main.go
  _gen/tools/copygen/requests/setup.go
  disgo.go
  wrapper/.golangci.yml
  wrapper/dasgo.go
  wrapper/endpoints.go
  wrapper/json_convert.go
  wrapper/json_marshal.go
  wrapper/json_unmarshal.go
  wrapper/json_unmarshal_convert.go
  wrapper/ratelimit_algorithm.go
  wrapper/request_send.go
  wrapper/session.go
  wrapper/session_manager.go
  wrapper/socket/bpool.go
  wrapper/socket/socket.go
  wrapper/tests/integration/coverage_test.go
Labels: examples, generator, wrapper, workflow

update linter commands
  .github/workflows/cache.yml
  .github/workflows/examples.yml
  .github/workflows/tools.yml
  _contribution/CONTRIBUTING.md
  _examples/.golangci.yml
  _examples/go.mod
  _examples/go.sum
  tools/README.md
Labels: examples, tools, workflow

lint examples
  _examples/.golangci.yml
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
  _examples/image/avatar/main.go
  _examples/message/send/file.go
  _examples/message/send/main.go
Labels: examples

fix generator linter
  .github/workflows/gen.yml
  _contribution/CONTRIBUTING.md
  _gen/.golangci.yml
  _gen/bundle/main.go
  _gen/bundle/tools/replace.go
  _gen/coverage/main.go
  _gen/main.go
  _gen/tools/_copygen/events/README.md
  _gen/tools/_copygen/events/setup.go
  _gen/tools/_copygen/events/setup.yml
  _gen/tools/_copygen/events/template/generate.go
  _gen/tools/_copygen/requests/README.md
  _gen/tools/_copygen/requests/setup.go
  _gen/tools/_copygen/requests/setup.yml
  _gen/tools/_copygen/requests/template/generate.go
  _gen/tools/_copygen/sendevents/setup.go
  _gen/tools/_copygen/sendevents/setup.yml
  _gen/tools/_copygen/sendevents/template/generate.go
  _gen/tools/endpoints.go
  _gen/tools/replace.go
Labels: generator, workflow

fix linter examples and generator working directory
  .github/workflows/examples.yml
  .github/workflows/gen.yml
Labels: workflow

update linter (#59)
  .github/workflows/cache.yml
  .github/workflows/examples.yml
  .github/workflows/gen.yml
  .github/workflows/tools.yml
  _contribution/CONTRIBUTING.md
  _examples/.golangci.yml
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
  _examples/go.mod
  _examples/go.sum
  _examples/image/avatar/main.go
  _examples/message/send/file.go
  _examples/message/send/main.go
  _gen/bundle/main.go
  _gen/bundle/tools/replace.go
  _gen/coverage/main.go
  _gen/main.go
  _gen/tools/_copygen/events/README.md
  _gen/tools/_copygen/events/setup.go
  _gen/tools/_copygen/events/setup.yml
  _gen/tools/_copygen/events/template/generate.go
  _gen/tools/_copygen/requests/README.md
  _gen/tools/_copygen/requests/setup.go
  _gen/tools/_copygen/requests/setup.yml
  _gen/tools/_copygen/requests/template/generate.go
  _gen/tools/_copygen/sendevents/setup.go
  _gen/tools/_copygen/sendevents/setup.yml
  _gen/tools/_copygen/sendevents/template/generate.go
  _gen/tools/endpoints.go
  _gen/tools/replace.go
  tools/.golangci.yml
  tools/README.md
Labels: examples, generator, tools, workflow

update to go1.20
  .github/workflows/cache.yml
  .github/workflows/examples.yml
  .github/workflows/gen.yml
  .github/workflows/shard.yml
  .github/workflows/tools.yml
  .github/workflows/wrapper.yml
  _examples/go.mod
  _examples/go.sum
  _gen/go.mod
  cache/go.mod
  go.mod
  go.sum
  go.work
  go.work.sum
  shard/go.mod
Labels: examples, generator, cache, shard, workflow

fix SA1019
  _examples/image/avatar/main.go
  _examples/message/send/file.go
  _gen/bundle/tools/replace.go
Labels: examples, generator

fix go mod workflows
  .github/workflows/tools.yml
  .github/workflows/wrapper.yml
Labels: workflow

fix wrapper workflow
  .github/workflows/tools.yml
  .github/workflows/wrapper.yml
Labels: workflow

update to go1.20 (#60)
  .github/workflows/cache.yml
  .github/workflows/examples.yml
  .github/workflows/gen.yml
  .github/workflows/shard.yml
  .github/workflows/tools.yml
  .github/workflows/wrapper.yml
  _examples/go.mod
  _examples/go.sum
  _examples/image/avatar/main.go
  _examples/message/send/file.go
  _gen/bundle/tools/replace.go
  _gen/go.mod
  cache/go.mod
  go.mod
  go.sum
  go.work
  go.work.sum
  shard/go.mod
Labels: examples, generator, cache, shard, workflow

edit concept information
  _contribution/concepts/CACHE.md
  _contribution/concepts/EVENTS.md
  _contribution/concepts/LOG.md
  _contribution/concepts/REQUESTS.md
  _contribution/concepts/SHARD.md
Labels: none

update concept information
  README.md
  _contribution/concepts/REQUESTS.md
  _contribution/concepts/SHARD.md
  _contribution/concepts/disgo-shard-diagram-min.jpg
  shard/README.md
Labels: shard

fix enable intent functions
  wrapper/client.go
Labels: wrapper

refactor shardmanager interface
  _gen/bundle/tools/replaced/session
  _gen/bundle/tools/replaced/sessionmanager
  _gen/tools/_copygen/events/setup.go
  disgo.go
  shard/README.md
  wrapper/dasgo.go
  wrapper/handle.go
  wrapper/session.go
  wrapper/session_bot_manager.go
  wrapper/shard.go
Labels: generator, shard, wrapper

implement SessionManager
  README.md
  wrapper/errors.go
  wrapper/pool.go
  wrapper/ratelimit.go
  wrapper/request_form.go
  wrapper/session.go
  wrapper/session_bot_manager.go
  wrapper/session_client_manager.go
  wrapper/session_listener.go
Labels: wrapper

update Gateway Rate Limit Handling
  _contribution/concepts/EVENTS.md
  _contribution/concepts/REQUESTS.md
  _contribution/concepts/SENDEVENTS.md
  _contribution/concepts/SHARD.md
  _contribution/concepts/_disgo-shard-diagram-min.jpg
  disgo.go
  wrapper/client.go
  wrapper/pool.go
  wrapper/session.go
Labels: wrapper

add Gateway tests
  _examples/command/autocomplete/main.go
  _examples/command/followup/main.go
  _examples/command/localization/main.go
  _examples/command/main.go
  _examples/command/subcommand/main.go
  _gen/bundle/tools/replaced/session
  disgo.go
  wrapper/session.go
  wrapper/tests/integration/coverage_test.go
  wrapper/tests/integration/ratelimit_test.go
  wrapper/tests/integration/session_test.go
Labels: examples, generator, wrapper

remove TestGatewayGlobalRateLimit test
  wrapper/tests/integration/ratelimit_test.go
  wrapper/tests/integration/session_test.go
Labels: wrapper

implement Shard Manager
  _contribution/CONTRIBUTING.md
  _examples/bot/shard/.keep
  disgo.go
  shard/README.md
  shard/go.mod
  shard/go.sum
  shard/instance.go
  shard/tests/integration/shard_test.go
  wrapper/session.go
  wrapper/shard.go
Labels: examples, shard, wrapper

add Shard integration test workflow
  .github/workflows/shard.yml
Labels: workflow

generate Send Event Shard Manager functions
  _gen/README.md
  _gen/main.go
  _gen/tools/_copygen/shard/setup.go
  _gen/tools/_copygen/shard/setup.yml
  _gen/tools/_copygen/shard/template/generate.go
  shard/README.md
  wrapper/shard_command.go
Labels: generator, shard, wrapper

update bundle
  disgo.go
Labels: none

fix shard test workflow
  .github/workflows/shard.yml
Labels: workflow

fix data race in test
  wrapper/tests/integration/ratelimit_test.go
Labels: wrapper

remove app ID write on ready event
  disgo.go
  wrapper/session.go
Labels: wrapper

update README for v1.10.1
  README.md
  _contribution/concepts/SHARD.md
Labels: none

fix #67
  _examples/message/components/README.md
  _examples/message/components/button/.keep
  _examples/message/components/main.go
  _examples/message/components/menu/.keep
  _examples/message/components/modal/.keep
  _examples/message/send/main.go
  _gen/coverage/main.go
  _gen/tools/_copygen/requests/setup.go
  disgo.go
  wrapper/dasgo.go
  wrapper/endpoints.go
  wrapper/json_unmarshal.go
  wrapper/ratelimit_algorithm.go
  wrapper/request_send.go
  wrapper/tests/integration/coverage_test.go
Labels: examples, generator, wrapper

voice connection outline
  .github/workflows/shard.yml
  .github/workflows/wrapper.yml
  README.md
  _gen/tools/_copygen/sendevents/setup.go
  _gen/tools/_copygen/sendevents/template/generate.go
  _gen/tools/_copygen/shard/setup.go
  _gen/tools/_copygen/shard/template/generate.go
  wrapper/errors.go
  wrapper/json_unmarshal_embed.go
  wrapper/json_unmarshal_interface.go
  wrapper/session.go
  wrapper/session_command.go
  wrapper/shard_command.go
  wrapper/tests/voice/voice_test.go
  wrapper/voice.go
Labels: generator, wrapper, workflow

implement Voice Session
  _gen/README.md
  _gen/main.go
  _gen/tools/_copygen/voice/setup.go
  _gen/tools/_copygen/voice/setup.yml
  _gen/tools/_copygen/voice/template/generate.go
  wrapper/dasgo.go
  wrapper/pool.go
  wrapper/session.go
  wrapper/session_client_manager.go
  wrapper/tests/voice/voice_test.go
  wrapper/voice.go
  wrapper/voice_handle.go
  wrapper/voice_session.go
  wrapper/voice_session_command.go
  wrapper/voice_session_heartbeat.go
  wrapper/voice_session_listener.go
  wrapper/voice_session_manager.go
Labels: generator, wrapper

code dump
  _contribution/libraries/HTTP.md
  _contribution/libraries/IMAGE.md
  _contribution/libraries/TCP.md
  _contribution/libraries/UDP.md
  _gen/tools/_copygen/voice/template/generate.go
  go.mod
  go.sum
  wrapper/handle.go
  wrapper/log.go
  wrapper/session_client_manager.go
  wrapper/socket/socket.go
  wrapper/voice.go
  wrapper/voice_session.go
  wrapper/voice_session_command.go
  wrapper/voice_session_heartbeat.go
  wrapper/voice_udp.go
Labels: generator, wrapper
